html,
body {
  margin: 0;
  height: 100%;
  font-family:
      -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
}

.header,
.footer,
.table-container,
.input-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.table-container, {
  grid-area: table;
}

.input-container {
  grid-area: input;
}

.container {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 4% 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas:
    "header header header"
    "table . input"
    "footer footer footer";
}

table,
textarea {
  height: 60%;
  width: 60%;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid grey;
}

textarea:focus {
  outline-width: 0;
  outline: none;
}

textarea {
}

.input-container > textarea,
.table-container > table,
.header > h1,
.footer > div {
  margin: auto;
}
